@import "tailwindcss";

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  padding: 0;
  background: #eeeef0c2;
}

::-webkit-scrollbar-thumb {
  background: #ebedeb;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #f2f5f2; 
}